:root {
	--main-bg-color: white;
	--text-color: rgb(30, 30, 30);
	--text-paragraph: rgb(85, 85, 85);
	--text-anchor: rgb(30, 30, 30);
	--text-anchor-hover: rgb(128, 128, 128);
	--btn-border-color: rgb(53, 53, 53);
	--btn-color-hover: rgb(255, 255, 255);
	--btn-bg-color-hover: rgb(53, 53, 53);
	--swiper-pagination-bullet: #171717;
	--swiper-pagination-bullet-active: rgb(30, 30, 30);

	.dark {
		--main-bg-color: rgb(30, 30, 30);
		--text-color: rgb(245, 245, 245);
		--text-paragraph: rgb(210, 210, 210);
		--text-anchor: rgb(245, 245, 245);
		--text-anchor-hover: rgb(175, 175, 175);
		--btn-border-color: rgb(219, 219, 219);
		--btn-color-hover: rgb(30, 30, 30);
		--btn-bg-color-hover: rgb(219, 219, 219);
		--swiper-pagination-bullet: #f0f0f0;
		--swiper-pagination-bullet-active: rgb(229, 229, 229);
	}
}

#themeBtn {
	display: inline-flex;
	height: 24px;
	width: 24px;
	margin-top: 4px;
	opacity: 0.8;

	img {
		max-width: 100%;
		max-height: 100%;
	}

	&:hover {
		cursor: pointer;
	}
}
.dark {
	#themeBtn {
		filter: invert(0.95);
		opacity: 1;
	}
}

h2 {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 2rem;

	@media screen and (max-width: 768px) {
		font-size: 2rem;
	}
}

.slider-block {
	margin-bottom: 150px;

	&:last-child {
		margin-bottom: 100px;
	}

	@media screen and (max-width: 1024px) {
		margin-bottom: 80px;

		&:last-child {
			margin-bottom: 20px;
		}
	}
}

/* SWIPER */

.swiper {
	width: 100%;
	height: 32vw;
	padding-bottom: 40px;

	@media screen and (max-width: 1024px) {
		height: 40vw;
	}
	@media screen and (max-width: 768px) {
		height: 50vw;
	}
	@media screen and (max-width: 640px) {
		height: 70vw;
	}

	&.wide {
		height: calc((32vw * 9 / 16) + 40px);

		@media screen and (max-width: 1024px) {
			height: calc((40vw * 9 / 16) + 40px);
		}
		@media screen and (max-width: 768px) {
			height: calc((50vw * 9 / 16) + 40px);
		}
		@media screen and (max-width: 640px) {
			height: calc((70vw * 9 / 16) + 40px);
		}
		.swiper-slide {
			width: 32vw;

			@media screen and (max-width: 1024px) {
				width: 40vw;
			}
			@media screen and (max-width: 768px) {
				width: 50vw;
			}
			@media screen and (max-width: 640px) {
				width: 70vw;
			}
		}
	}

	.swiper-slide {
		border-radius: 24px;
		overflow: hidden;
		width: 32vw;
		box-shadow: rgba(0, 0, 0, 0.2) 0 10px 20px 0;

		@media screen and (max-width: 1024px) {
			width: 40vw;
		}
		@media screen and (max-width: 768px) {
			width: 50vw;
		}
		@media screen and (max-width: 640px) {
			width: 70vw;
		}

		&:after {
			content: '';
			position: absolute;
			inset: 0;
			pointer-events: all;
			z-index: 1;
		}
		&.swiper-slide-active {
			&:after {
				pointer-events: none;
			}
		}
	}
	.swiper-wrapper {
		.swiper-slide {
			user-select: none;
			text-align: center;
			font-size: 18px;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			height: 100%;
			position: relative;
			transition-property: transform;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			video {
				object-fit: cover;

				width: 100%;
				height: 100%;
			}
		}
	}

	// SWIPER NAVIGATION
	.swiper-button-next,
	.swiper-button-prev {
		width: 40px;
		height: 40px;
		color: black;
		padding: 10px;
		border-radius: 100%;
		box-shadow: rgba(100, 100, 111, 0.4) 0 3px 12px 0;
		background-color: white;
		border: 1px solid rgb(95, 95, 95);
		&:after {
			position: absolute;
			top: 50%;
			left: 55%;
			transform: translate(-50%, -50%);
			font-size: 20px;
		}
	}
	.swiper-button-prev {
		&:after {
			left: 50%;
		}
	}

	// SWIPER PAGINATION
	.swiper-pagination {
		bottom: 0px;
	}
	.swiper-pagination-bullet {
		background-color: var(--swiper-pagination-bullet);
		&.swiper-pagination-bullet-active {
			background-color: var(--swiper-pagination-bullet-active);
		}
	}
}

/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--main-bg-color);
	color: var(--text-color);

	transition: background-color 0.3s ease;
}

html {
	scroll-behavior: smooth;
}

button {
	border: none;
	background: none;
}

p {
	color: var(--text-paragraph);
}

/* TRANSITION */

a,
.btn {
	transition: all 300ms ease;
}

/* DESKTOP-NAV */

#desktop-nav {
	@media screen and (max-width: 768px) {
		display: none;
	}
}

nav,
.nav-links {
	display: flex;
}

nav {
	justify-content: space-between;
	align-items: center;
	padding: 2rem;

	@media screen and (max-width: 768px) {
		height: auto;
	}
}

.nav-links {
	gap: 2rem;
	list-style: none;
	font-size: 1.5rem;
}

a {
	color: var(--text-anchor);
	text-decoration: none;
	text-decoration-color: white;
}

a:hover {
	color: var(--text-anchor-hover);
	text-decoration: underline;
	text-underline-offset: 1rem;
	text-decoration-color: rgb(181, 181, 181);
}

.logo {
	font-size: 2rem;
}

.logo:hover {
	cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
	display: none;

	@media screen and (max-width: 768px) {
		display: flex;
		justify-content: space-between;
		padding: 24px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		backdrop-filter: blur(10px);
	}
}

.hamburger-menu {
	position: relative;
	display: inline-block;
}

.hamburger-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px;
	width: 30px;
	cursor: pointer;

	span {
		width: 100%;
		height: 2px;
		background-color: var(--text-color);
		transition: all 0.3 ease-in-out;

		&:first-child {
			transform: none;
		}
		&:first-child {
			opacity: 1;
		}
		&:first-child {
			transform: none;
		}
	}

	&.open {
		span {
			&:first-child {
				transform: rotate(45deg) translate(10px, 5px);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:last-child {
				transform: rotate(-45deg) translate(10px, -5px);
			}
		}
	}
}

.menu-links {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: var(--main-bg-color);
	transition: all 0.15s ease-in-out;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	pointer-events: none;

	.hamburger-icon {
		position: absolute;
		right: 24px;
		top: 36px;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
	&.open {
		opacity: 1;
		pointer-events: all;
	}
}

.menu-links a {
	display: block;
	padding: 10px;
	text-align: center;
	font-size: 2rem;
	color: var(--text-color);
	text-decoration: none;
	transition: all 0.3 ease-in-out;
}

.menu-links li {
	list-style: none;
}

/* SECTION */

section {
	position: relative;
	padding-top: 100px;
	min-height: 96vh;
	margin: 0 10rem;
	margin-bottom: 40px;
	box-sizing: border-box;
	min-height: fit-content;

	@media screen and (max-width: 1280px) {
		margin: 0 5rem;
	}
	@media screen and (max-width: 768px) {
		padding-top: 80px;
		margin: 0 40px;
	}
}

@media screen and (max-width: 768px) {
	.aos-animate {
		.anchor {
			top: -48px;
		}
	}
}
.anchor {
	position: absolute;
	top: 0;

	@media screen and (max-width: 768px) {
		top: -112px;
	}
}

.section-container {
	display: flex;
}

/* PROFILE SECTION */

#profile {
	display: flex;
	justify-content: center;
	gap: 5rem;
	height: calc(100vh - 2rem - 48px - 100px);
	padding-top: 0;
	min-height: 400px;

	h2 {
		margin-bottom: 20px;
	}

	@media screen and (max-width: 1024px) {
		min-height: 360px;
	}
	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding-top: 100px;
		height: 100vh;
		min-height: 560px;
	}

	.section__pic-container {
		display: flex;
		flex-shrink: 0;
		height: 400px;
		width: 400px;
		margin: auto 0;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		@media screen and (max-width: 1280px) {
			height: 280px;
			width: 280px;
		}
		@media screen and (max-width: 768px) {
			height: 200px;
			width: 200px;
			margin: 0;
		}
	}

	.socials-container {
		display: flex;
		justify-content: center;
		margin-top: 2rem;
		gap: 1rem;
		height: 2rem;

		@media screen and (max-width: 768px) {
			margin-top: 1rem;
		}
	}
}

.section__text {
	align-self: center;
	text-align: center;
}

.section__text p {
	font-weight: 600;
}

.section__text__p1 {
	text-align: center;

	@media screen and (max-width: 768px) {
		font-size: 0.9rem;
	}
}

.section__text__p2 {
	font-size: 1.7rem;
	margin-bottom: 1rem;

	@media screen and (max-width: 768px) {
		font-size: 1rem;
	}
}

/* ICONS */

.icon {
	height: 2rem;
	cursor: pointer;
	transition: opacity 0.3s ease;

	&.arrow {
		position: absolute;
		right: -5rem;
		bottom: 2.5rem;

		@media screen and (max-width: 1280px) {
			right: -3rem;
		}
		@media screen and (max-width: 768px) {
			right: -36px;
		}
	}

	&:hover {
		opacity: 0.6;
	}
}
.dark {
	.icon {
		filter: invert(0.94);

		&:hover {
			opacity: 0.8;
		}
	}
}

section.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 6rem;
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.social-icons {
		margin-top: 4rem;
	}
	a {
		&.email {
			font-weight: 500;
		}
	}
}

.social-icons {
	position: relative;
	display: flex;
	align-items: center;
	gap: 1rem;
	width: auto;
	.icon {
		height: 2rem;
		img {
			max-height: 100%;
		}
	}
}

/* BUTTONS */

.btn {
	display: inline-block;
	font-weight: 600;
	transition: all 300ms ease;
	padding: 12px 24px;
	border-radius: 2rem;
	text-decoration: none !important;
	text-wrap: nowrap;

	&.btn-accent {
		border: var(--btn-border-color) 1px solid;

		&:hover {
			border: var(--btn-border-color) 1px solid;
			color: var(--btn-color-hover);
			background: var(--btn-bg-color-hover);
		}
	}
}

/* ABOUT SECTION */

section.about {
	position: relative;

	.section-container {
		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			gap: 0;
		}

		.section__pic-container {
			@media screen and (max-width: 1024px) {
				margin-top: 2rem;
			}
			@media screen and (max-width: 768px) {
				margin-top: 0;
			}

			img {
				border-radius: 2rem;
			}
		}
	}

	.about-containers {
		display: flex;
		gap: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;

		@media screen and (max-width: 1024px) {
			flex-direction: column;
		}
	}

	.about-details-container {
		justify-content: center;
		flex-direction: column;
	}
}

.details-container {
	padding: 1.5rem;
	flex: 1;
	border-radius: 2rem;
	border: rgb(53, 53, 53) 0.1rem solid;
	border-color: rgb(163, 163, 163);
	text-align: center;

	.icon {
		&:hover {
			cursor: default;
			opacity: 1;
		}
	}
}

.section-container {
	gap: 4rem;
	height: 80%;
}

.section__pic-container {
	display: flex;
	flex-shrink: 0;
	height: 400px;
	width: 400px;
	margin: auto 0;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	@media screen and (max-width: 1280px) {
		height: 300px;
		width: 300px;
	}
}

/* EXPERIENCE SECTION */

section.experience {
	position: relative;

	.details-container {
		h2 {
			color: var(--text-paragraph);
			font-weight: 600;
			font-size: 1.75rem;
			margin-bottom: 2rem;

			@media screen and (max-width: 768px) {
				font-size: 1.5rem;
			}
		}
	}

	.about-containers {
		display: flex;
		gap: 2rem;
		@media screen and (max-width: 1280px) {
			flex-direction: column;
		}
		@media screen and (max-width: 768px) {
			// flex-direction: column;
		}
	}

	.experience-details-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	ul.article-container {
		display: flex;
		text-align: initial;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 1rem;
		justify-content: space-between;

		li {
			display: flex;
			width: calc(50% - 0.5rem);
			justify-content: start;
			gap: 0.5rem;

			@media screen and (max-width: 1280px) {
				width: 30%;
			}
			@media screen and (max-width: 1024px) {
				width: 30%;
			}
			@media screen and (max-width: 768px) {
				width: calc(50% - 0.5rem);
			}
			@media screen and (max-width: 640px) {
				width: 100%;
			}

			.icon {
				cursor: default;
			}
		}
	}
}

/* PROJECTS SECTION */

section.projects {
	margin: 0;
	height: auto;
}
