body {
	.content {
		height: 100vh;
		color: black;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

h2 {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 20px;

	@media screen and (max-width: 768px) {
		font-size: 2rem;
	}
}

.slider-block {
	margin-bottom: 150px;

	@media screen and (max-width: 1024px) {
		margin-bottom: 80px;
	}
}

.swiper {
	width: 600px;
	height: 600px;

	// &.v2 {
	width: 100%;
	height: 25vw;
	padding-bottom: 40px;

	@media screen and (max-width: 1024) {
		height: 30vw;
	}
	@media screen and (max-width: 768px) {
		height: 40vw;
	}
	@media screen and (max-width: 640px) {
		height: 50vw;
	}
	.swiper-wrapper {
		.swiper-slide {
			border-radius: 24px;
			overflow: hidden;
			transform: scale(0.7);
			transition: transform 0.15s ease-in-out;
			width: 25vw;
			box-shadow: rgba(0, 0, 0, 0.2) 0 10px 20px 0;

			@media screen and (max-width: 1024px) {
				width: 30vw;
			}
			@media screen and (max-width: 768px) {
				width: 40vw;
			}
			@media screen and (max-width: 640px) {
				width: 50vw;
			}
			&.swiper-slide-active {
				transform: scale(1);
			}
		}
	}
	.swiper-pagination {
		bottom: 0px;
	}
	// }
	.swiper-wrapper {
		.swiper-slide {
			user-select: none;
			text-align: center;
			font-size: 18px;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			height: 100%;
			position: relative;
			transition-property: transform;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			video {
				object-fit: cover;

				width: 100%;
				height: 100%;
			}
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		width: 40px;
		height: 40px;
		color: black;
		padding: 10px;
		border-radius: 100%;
		box-shadow: rgba(100, 100, 111, 0.4) 0 3px 12px 0;
		background-color: white;
		border: 1px solid rgb(95, 95, 95);
		&:after {
			position: absolute;
			top: 50%;
			left: 55%;
			transform: translate(-50%, -50%);
			font-size: 20px;
		}
	}
	.swiper-button-prev {
		&:after {
			left: 50%;
		}
	}
	.swiper-pagination-bullet {
		&.swiper-pagination-bullet-active {
			background-color: black;
		}
	}
}

// OLD STYLES
/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}
p {
	color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
	transition: all 300ms ease;
}

/* DESKTOP-NAV */

#desktop-nav {
	@media screen and (max-width: 768px) {
		display: none;
	}
}

nav,
.nav-links {
	display: flex;
}

nav {
	justify-content: space-around;
	align-items: center;
	height: 17vh;

	@media screen and (max-width: 768px) {
		height: auto;
	}
}

.nav-links {
	gap: 2rem;
	list-style: none;
	font-size: 1.5rem;
}

a {
	color: black;
	text-decoration: none;
	text-decoration-color: white;
}

a:hover {
	color: grey;
	text-decoration: underline;
	text-underline-offset: 1rem;
	text-decoration-color: rgb(181, 181, 181);
}

.logo {
	font-size: 2rem;
}

.logo:hover {
	cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
	display: none;

	@media screen and (max-width: 768px) {
		display: flex;
		justify-content: space-between;
		padding: 24px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		backdrop-filter: blur(10px);
	}
}

.hamburger-menu {
	position: relative;
	display: inline-block;
}

.hamburger-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px;
	width: 30px;
	cursor: pointer;
}

.hamburger-icon span {
	width: 100%;
	height: 2px;
	background-color: black;
	transition: all 0.3 ease-in-out;
}

.menu-links {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: white;
	transition: all 0.15s ease-in-out;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	pointer-events: none;

	.hamburger-icon {
		position: absolute;
		right: 24px;
		top: 36px;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
	&.open {
		opacity: 1;
		pointer-events: all;
	}
}

.menu-links a {
	display: block;
	padding: 10px;
	text-align: center;
	font-size: 2rem;
	color: black;
	text-decoration: none;
	transition: all 0.3 ease-in-out;
}

.menu-links li {
	list-style: none;
}

.menu-links.open {
	// max-height: 300px;
}

.hamburger-icon.open span:first-child {
	transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
	opacity: 0;
}

.hamburger-icon.open span:last-child {
	transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
	transform: none;
}

.hamburger-icon span:first-child {
	opacity: 1;
}

.hamburger-icon span:first-child {
	transform: none;
}

/* SECTION */

section {
	position: relative;
	padding-top: 100px;
	min-height: 96vh;
	margin: 0 10rem;
	margin-bottom: 40px;
	box-sizing: border-box;
	min-height: fit-content;

	@media screen and (max-width: 1280px) {
		margin: 0 5rem;
	}
	@media screen and (max-width: 768px) {
		padding-top: 80px;
		margin: 0 40px;
	}
}

@media screen and (max-width: 768px) {
	.aos-animate {
		.anchor {
			top: -48px;
		}
	}
}
.anchor {
	position: absolute;
	top: 0;

	@media screen and (max-width: 768px) {
		top: -112px;
	}
}

.section-container {
	display: flex;
}

/* PROFILE SECTION */

#profile {
	display: flex;
	justify-content: center;
	gap: 5rem;
	height: 80vh;
	padding-top: 0;

	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		height: 100vh;
	}

	.section__pic-container {
		display: flex;
		flex-shrink: 0;
		height: 400px;
		width: 400px;
		margin: auto 0;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		@media screen and (max-width: 1280px) {
			height: 280px;
			width: 280px;
		}
		@media screen and (max-width: 768px) {
			height: 200px;
			width: 200px;
			margin: 0;
		}
	}
}

.section__text {
	align-self: center;
	text-align: center;
}

.section__text p {
	font-weight: 600;
}

.section__text__p1 {
	text-align: center;

	@media screen and (max-width: 768px) {
		font-size: 0.9rem;
	}
}

.section__text__p2 {
	font-size: 1.7rem;
	margin-bottom: 1rem;

	@media screen and (max-width: 768px) {
		font-size: 1rem;
	}
}

#socials-container {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	gap: 1rem;
	height: 2rem;
}

/* ICONS */

.icon {
	height: 2rem;
	cursor: pointer;
}

/* BUTTONS */

.btn-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.btn {
	font-weight: 600;
	transition: all 300ms ease;
	padding: 1rem;
	border-radius: 2rem;
	text-decoration: none !important;
	text-wrap: nowrap;
}

.btn-color-1 {
	border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover {
	cursor: pointer;
}

.btn-color-1:hover {
	border: rgb(53, 53, 53) 0.1rem solid;
	color: white;
}

.btn-color-1:hover {
	background: rgb(0, 0, 0);
}

.btn-container {
	gap: 1rem;
}

/* ABOUT SECTION */

.about {
	position: relative;

	.section-container {
		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			gap: 0;
		}

		.section__pic-container {
			@media screen and (max-width: 1024px) {
				margin-top: 2rem;
			}
			@media screen and (max-width: 768px) {
				margin-top: 0;
			}
		}
	}

	.about-containers {
		display: flex;
		gap: 2rem;
		margin-bottom: 2rem;
		margin-top: 2rem;

		@media screen and (max-width: 1024px) {
			flex-direction: column;
		}
	}
}

.about-details-container {
	justify-content: center;
	flex-direction: column;
}

.about-pic {
	border-radius: 2rem;
}

.arrow {
	position: absolute;
	right: -5rem;
	bottom: 2.5rem;

	@media screen and (max-width: 1280px) {
		right: -3rem;
	}
	@media screen and (max-width: 768px) {
		right: -36px;
	}
}

.details-container {
	padding: 1.5rem;
	flex: 1;
	background: white;
	border-radius: 2rem;
	border: rgb(53, 53, 53) 0.1rem solid;
	border-color: rgb(163, 163, 163);
	text-align: center;
}

.section-container {
	gap: 4rem;
	height: 80%;
}

.section__pic-container {
	display: flex;
	flex-shrink: 0;
	height: 400px;
	width: 400px;
	margin: auto 0;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	@media screen and (max-width: 1280px) {
		height: 300px;
		width: 300px;
	}
}

/* EXPERIENCE SECTION */

.experience {
	position: relative;

	.about-containers {
		display: flex;
		gap: 2rem;
		@media screen and (max-width: 1280px) {
			flex-direction: column;
		}
		@media screen and (max-width: 768px) {
			// flex-direction: column;
		}
	}

	.article-container {
		article {
			@media screen and (max-width: 1280px) {
				width: 30%;
			}
			@media screen and (max-width: 768px) {
				width: calc(50% - 0.5rem);
			}
			@media screen and (max-width: 640px) {
				width: 100%;
			}
		}
	}
}

.experience-sub-title {
	color: rgb(85, 85, 85);
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: 2rem;

	@media screen and (max-width: 768px) {
		font-size: 1.5rem;
	}
}

.experience-details-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.article-container {
	display: flex;
	text-align: initial;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 1rem;
	justify-content: space-between;

	article {
		display: flex;
		width: calc(50% - 0.5rem);
		justify-content: start;
		gap: 0.5rem;

		@media screen and (max-width: 1024px) {
			width: 30%;
		}
	}

	article .icon {
		cursor: default;
	}
}

/* PROJECTS SECTION */

.projects {
	// padding: 2rem;
	margin: 0;
	height: auto;
}

.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
}

.slider video {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
